@font-face {
  font-family: "nulshock";
  src: url('fonts/recharge_bd.ttf') format("truetype");
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body
{
font-family: nulshock;
background-color: #181B59;

color: white;
text-align: center;
text-shadow: 1px 1px 1px #181B59;

}
header h1
{
border: 5px ridge;
width: 800px; 
margin: auto;
border-color: #3E46E5;
border-radius: 10px;
padding: 20px;
}

nav
{
width: 800px;
margin: auto;
}
a
{
text-decoration: none;
color: white;
padding: 5px;
transition: font-size 1s, border 1s; 
}
a:hover
{
font-size: 140%;
border: 4px groove #3E46E5;
border-top:none;
border-bottom: none;
border-radius: 10px;
}
a:visited
{
color: white;
}



/*Login*/

.login_section
{
/*background: ;*/
width: 250px;
border: 5px ridge;
border-radius: 25px;
border-color: #3E46E5;

margin-left: auto;
margin-right: auto;
margin-top: 10px;
padding: 30px;
color: white;
}
.login_section input
{
width: 100%;
}

input, textarea
{
font-family: inherit;
font-size: 1em;
font-weight: bold;
color: white;
padding:5px;
border: ridge 3px #3E46E5;
border-radius: 5px;
background-color: #22277F;
}
textarea
{
min-width: 95%;
padding: 5px;
}

#htmlhighlight
{
min-height: 400px;
}

.numberinput
{
width: 20%;
}

table, tr
{
font-family: inherit;
color: white;
padding: 5px;
/*border: solid 3px #66FFFF;*/
border-radius: 5px;
background-color: inherit;
/*border-collapse: collapse;*/
}

.directorylist
{
text-align: left;
}

.fileicon
{
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.doc:before, .docx:before
{
content: "\f1c2";
}

.ppt:before, .pptx:before, .pps:before
{
content: "\f1c4";
}

.xls:before, .xlsx:before, .xlr:before
{
content: "\f1c3";
}

.bmp:before, .dds:before, .gif:before, .jpg:before, .jpeg:before, .png:before, .pspimage:before, .tga:before, .thm:before, .tif:before, .tiff:before, .yuv:before
{
content: "\f1c5";
}

.txt:before, .log:before, .msg:before, .odt:before, .pages:before, .rtf:before, .tex:before, .wpd:before, .wps:before
{
content: "\f15c";
}

.aif:before, .iff:before, .m3u:before, .m4a:before, .mid:before, .mp3:before, .mpa:before, .ra:before, .wav:before, .wma:before
{
content: "\f1c7";
}

.3gp:before, .asf:before, .asx:before, .avi:before, .flv:before, .m4v:before, .mov:before, .mp4:before, .mpg:before, .rm:before, .srt:before, .swf:before, .vob:before, .wmv:before
{
content: "\f1c8";
}

.pdf:before
{
content: "\f1c1";
}

.accdb:before, .db:before, .dbf:before, .mdb:before, .pdb:before, .sql:before
{
 content: "\f1c0";
}

.asp:before, .aspx:before, .cer:before, .cfm:before, .csr:before, .css:before, .htm:before, .html:before, .js:before, .jsp:before, .php:before, .rss:before, .xhtml:before,
.c:before, .class:before, .cpp:before, .cs:before, .dtd:before, .fla:before, .h:before, .java:before, .lua:before, .m:before, .pl:before, .py:before, .sh:before, .sln:before,
.swift:before, .vcxproj:before, .xcodeproj:before
{
content: "\f1c9";
}

.7z:before, .cbr:before, .deb:before, .gz:before, .pkg:before, .rar:before, .rpm:before, .sitx:before, .zip:before, .zipx:before
{
content: "\f1c6";
}

.folder:before
{
content: "\f114";
}

.iconbutton
{
height: 40px;
width: 40px;
border: none;
}

input:disabled
{
background-color: #338080;
}

button
{
display: inline-block;
font-size: 1.5em;
font-family: inherit;
border: 3px outset;
border-radius: 10px;
border-color: #3E46E5;
color: white;
text-shadow: 1px 1px 1px #181B59;
background-color: inherit;
vertical-align: middle;
transition: font-size 1s;
}
button:hover
{
font-size: 140%;
background-color: inherit;
}



.login_form
{
margin: 10px;
}

/*Administrace*/ 

.admin_section
{
border: 10px ridge;
border-radius: 10px;
border-color: #3E46E5;
width: 800px;
margin: auto;
padding: 20px;
background-color: #2D33A6;
}

.admin_menu
{
border: 5px ridge;
border-radius: 10px;
border-top: none;
border-color: #2D33A6;
width: 800px;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin-bottom: 10px;
padding: 10px;
background-color: inherit;
}
.admin_menu li
{
display: inline-block;
padding: 5px;
}