@font-face 
{
font-family: 'exoextra'; /*a name to be used later*/
src: url('../css/fonts/Exo-ExtraLight.ttf'); /*URL to font*/
}

body
{
background-image: url("../images/bg_geometric2.png");
background-size: 100%;
font-family: exoextra;
text-align: center;
color: white;
}

header h1 {text-decoration: underline;}

.box
{
margin: 0 auto;
max-height: 400px;
width: 500px;
margin-bottom: 20px;
background: -webkit-linear-gradient(top,rgba(0,0,0,0.8),rgba(0,0,0,0.8)); /*Safari 5.1-6*/
background: -o-linear-gradient(top,rgba(0,0,0,0.8),rgba(0,0,0,0.8)); /*Opera 11.1-12*/
background: -moz-linear-gradient(top,rgba(0,0,0,0.8),rgba(0,0,0,0.8)); /*Fx 3.6-15*/
background: linear-gradient(to top,rgba(0,0,0,0.8),rgba(0,0,0,0.8)); 
padding: 15px;
padding-top: 10px;
}

.box img
{
max-height: 150px;
margin-bottom: 20px;
}

.box h1
{
margin-top: 0px;
}

.box a
{
color: white;
}

footer{
border-top: 1px solid #000;
opacity: 0.7;
padding-top: 5px;
}

footer a
{
color: white;
}
footer a:hover
{
color: #4b947f;
}

